[submodule "Vendor/libarchive"]
	path = Vendor/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "Vendor/googletest"]
	path = Vendor/googletest
	url = https://github.com/google/googletest.git
